<!-- コンテンツ全体を保持するためのコンテナー部分の開始 -->
<div class="container">
 <!-- コンテナー内に、行を作成 -->
 <div class="row">
  <!-- 行内に、6単位で幅を占め、水平方向に中央揃えされた列を作成 -->
  <div class="col-6 mx-auto">
    <!-- サインアップフォームの見出し -->
    <h2>Sign up</h2>

    <!-- 新しいユーザーの登録用フォームの開始。 'resource' と 'resource_name' はユーザーデータを含む変数です。 'registration_path' はユーザー登録を処理するパスです -->
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <!-- エラーメッセージがあれば表示 -->
      <%= render "devise/shared/error_messages", resource: resource %>

      <!-- ユーザー名の入力用フォームグループの開始 -->
      <div class="form-group">
        <!-- ユーザー名のラベル -->
        <%= f.label :name %><br />
        <!-- ユーザー名を入力するテキストフィールド。オートフォーカスが有効になり、スタイルクラスが適用されます -->
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>

      <!-- メールアドレスの入力用フォームグループの開始 -->
      <div class="form-group">
        <!-- メールアドレスのラベル -->
        <%= f.label :email %><br />
        <!-- メールアドレスを入力するテキストフィールド。オートフォーカス、自動補完、スタイルクラスが適用されます -->
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <!-- パスワードの入力用フォームグループの開始 -->
      <div class="form-group">
        <!-- パスワードのラベル -->
        <%= f.label :password %>
        <!-- 最小パスワード長の要件があるかどうかをチェック -->
        <% if @minimum_password_length %>
          <!-- 最小パスワード長の要件を表示 -->
          <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <!-- パスワードを入力するフィールド。自動補完が無効になり、スタイルクラスが適用されます -->
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <!-- パスワード確認の入力用フォームグループの開始 -->
      <div class="form-group">
        <!-- パスワード確認のラベル -->
        <%= f.label :password_confirmation %><br />
        <!-- パスワード確認のフィールド。自動補完が無効になり、スタイルクラスが適用されます -->
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <!-- サインアップボタン -->
      <div>
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>
    <% end %>
    <!-- フォームの終了 -->
    <%= render "devise/shared/links" %>
  </div>
 </div>
</div>
